In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\aahan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aahan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aahan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aahan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aahan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\aahan\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\aahan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
data=pd.DataFrame({
    "Name":["sophie","lizzy","annabelle"],
    "Age":[12,13,11],
    "City":["Redmond","Kirkland","Bellevue"]
})

In [3]:
#Basic utilities to explore data:
#head– shows the first few rows
# describe() – gives summary statistics
# info() – shows data types and missing values
# shape – shows the number of rows and columns
# columns – lists all column names
print(data.head())
print(data.describe())
print(data.info())
print(data.shape)
print(data.columns)

        Name  Age      City
0     sophie   12   Redmond
1      lizzy   13  Kirkland
2  annabelle   11  Bellevue
        Age
count   3.0
mean   12.0
std     1.0
min    11.0
25%    11.5
50%    12.0
75%    12.5
max    13.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
(3, 3)
Index(['Name', 'Age', 'City'], dtype='object')

In [4]:
data["City"]

0     Redmond
1    Kirkland
2    Bellevue
Name: City, dtype: object

In [6]:
data["Age"].max()

np.int64(13)

In [ ]:
#adding a new column
data["Grades"]=[98,73,62]
data

        Name  Age      City  Grades
0     sophie   12   Redmond      98
1      lizzy   13  Kirkland     100
2  annabelle   11  Bellevue      62

In [12]:
#adding a new row
new_row=pd.DataFrame({"Name":"emmy","Age":14,"City":"Seattle","Grades":99

},index=[0])
data=pd.concat([new_row,data]).reset_index(drop=True)
data

        Name  Age      City  Grades
0       emmy   14   Seattle      99
1       emmy   14   Seattle      99
2       emmy   14   Seattle      99
3     sophie   12   Redmond      98
4      lizzy   13  Kirkland     100
5  annabelle   11  Bellevue      62

In [14]:
data.drop(["emmy"],inplace=True)

KeyError: "['emmy'] not found in axis"